<a href="https://colab.research.google.com/github/zengl2025-sys/Data_cleaning/blob/main/Data_cleaning_healthcare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Load the dataset

In [11]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
df = pd.read_csv('/content/drive/MyDrive/healthcare_messy_data.csv')

In [32]:
df.head()

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.0,name@hospital.org,555-555-5555
1,emily davis,NaN,Male,Diabetes,NONE,"April 5, 2018",120/80,200.0,NaN,NaN
2,laura martinez,35,Other,Asthma,METFORMIN,2019.12.01,110/70,160.0,contact@domain.com,NaN
3,michael wilson,NaN,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,NaN,name@hospital.org,555-555-5555
4,david lee,NaN,Female,Asthma,NONE,2020/02/20,110/70,180.0,NaN,

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             841 non-null    object
 2   Gender          1000 non-null   object
 3   Condition       794 non-null    object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  834 non-null    object
 7   Cholesterol     769 non-null    float64
 8   Email           616 non-null    object
 9   Phone Number    821 non-null    object
dtypes: float64(1), object(9)
memory usage: 78.3+ KB

In [34]:
df.isnull().sum()

Patient Name        0
Age               159
Gender              0
Condition         206
Medication          0
Visit Date          0
Blood Pressure    166
Cholesterol       231
Email             384
Phone Number      179
dtype: int64

Step 2: Strip leading and trailing spaces

This dataset may likely contain unnecessary spaces in string columns, which can cause problems during analysis. We remove these spaces using the following code:

In [17]:
# Strip leading and trailing spaces from string columns
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].str.strip()

In [18]:
df.head()

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.0,name@hospital.org,555-555-5555
1,emily davis,NaN,Male,Diabetes,NONE,"April 5, 2018",120/80,200.0,NaN,NaN
2,laura martinez,35,Other,Asthma,METFORMIN,2019.12.01,110/70,160.0,contact@domain.com,NaN
3,michael wilson,NaN,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,NaN,name@hospital.org,555-555-5555
4,david lee,NaN,Female,Asthma,NONE,2020/02/20,110/70,180.0,NaN,

Step 3: Correct non-numeric values

In [41]:
# This is how you would check unique values before converting to numeric
print(df['Age'].value_counts())

# After converting with errors='coerce', you can check the unique non-NaN values
print("Unique non-NaN values in 'Age' after conversion:")
display(df['Age'].dropna().unique())

Age
forty    176
25       171
60       170
35       163
70       161
Name: count, dtype: int64
Unique non-NaN values in 'Age' after conversion:

array(['25', '35', '60', 'forty', '70'], dtype=object)

In [28]:
# convert 'forty' to 40 first

df['Visit Date']=pd.to_datetime(df['Visit Date'],errors='coerce')

In [43]:
# Replace 'forty' with 40 in the 'Age' column
df['Age'] = df['Age'].replace('forty', 40)

# Convert the 'Age' column to numeric again after replacing 'forty'
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Check the number of NaNs in the 'Age' column after replacement
print("Number of NaNs in 'Age' after handling 'forty':")
print(df['Age'].isnull().sum())

Number of NaNs in 'Age' after handling 'forty':
159

In [45]:
# Get the total number of rows using len()
print("Total number of rows (using len()):", len(df))

Total number of rows (using len()): 1000

In [49]:
# This is how you would check unique values before converting to numeric
print(df['Gender'].value_counts())

Gender
Female    348
Male      343
Other     309
Name: count, dtype: int64

In [51]:
print(df['Gender'].isnull().sum())

0

In [53]:
# condition also has 206 na value
print(df['Condition'].value_counts())
print(df['Condition'].isnull().sum())

Condition
Asthma           211
Heart Disease    207
Diabetes         205
Hypertension     171
Name: count, dtype: int64
206

In [58]:
print(df['Medication'].value_counts())
print(df['Medication'].isnull().sum())

Medication
ATORVASTATIN    216
METFORMIN       211
NONE            199
ALBUTEROL       187
LISINOPRIL      187
Name: count, dtype: int64
0

In [61]:
for column in df.columns:
    print(f"Column: {column}")
    print("Value Counts:")
    display(df[column].value_counts(dropna=False)) # include NaN in counts

Column: Patient Name
Value Counts:

Patient Name
john doe           118
robert brown       110
mary clark         107
michael wilson     107
laura martinez     100
sarah johnson       96
emily davis         94
david lee           94
james taylor        91
jane smith          83
Name: count, dtype: int64

Column: Age
Value Counts:

Age
40.0    176
25.0    171
60.0    170
35.0    163
70.0    161
NaN     159
Name: count, dtype: int64

Column: Gender
Value Counts:

Gender
Female    348
Male      343
Other     309
Name: count, dtype: int64

Column: Condition
Value Counts:

Condition
Asthma           211
Heart Disease    207
NaN              206
Diabetes         205
Hypertension     171
Name: count, dtype: int64

Column: Medication
Value Counts:

Medication
ATORVASTATIN    216
METFORMIN       211
NONE            199
ALBUTEROL       187
LISINOPRIL      187
Name: count, dtype: int64

Column: Visit Date
Value Counts:

Visit Date
April 5, 2018    210
03-25-2019       207
2019.12.01       202
2020/02/20       198
01/15/2020       183
Name: count, dtype: int64

Column: Blood Pressure
Value Counts:

Blood Pressure
140/90    233
110/70    211
120/80    197
130/85    193
NaN       166
Name: count, dtype: int64

Column: Cholesterol
Value Counts:

Cholesterol
NaN      231
160.0    201
200.0    196
180.0    192
220.0    180
Name: count, dtype: int64

Column: Email
Value Counts:

Email
NaN                    384
contact@domain.com     217
patient@example.com    203
name@hospital.org      196
Name: count, dtype: int64

Column: Phone Number
Value Counts:

Phone Number
123-456-7890    245
                200
555-555-5555    193
098-765-4321    183
NaN             179
Name: count, dtype: int64

In [ ]:
print(df['Medication'].value_counts())
print(df['Medication'].isnull().sum())

In [63]:
# handle missing value
# Impute missing values in 'Age' with the median
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

# Check the number of NaNs in the 'Age' column after imputation
print("Number of NaNs in 'Age' after imputation:")
print(df['Age'].isnull().sum())

Number of NaNs in 'Age' after imputation:
0

In [64]:
# Impute missing values in 'Condition' with mode
mode_condition = df['Condition'].mode()[0]
df['Condition'].fillna(mode_condition, inplace=True)
# Impute missing values in 'Blood Pressure' with number
df['Blood Pressure'].fillna('120/80', inplace=True)

# Impute missing values in 'Cholesterol' with mean
mean_cholesterol = df['Cholesterol'].mean()
df['Cholesterol'].fillna(mean_cholesterol, inplace=True)

# Impute missing values in 'Email' with no_email@example.com
df['Email'].fillna('no_email@example.com', inplace=True)

# Impute missing values in 'Phone umber' with 000-000-0000
df['Phone Number'].fillna('000-000-0000', inplace=True)

/tmp/ipython-input-3625697838.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Condition'].fillna(mode_condition, inplace=True)
/tmp/ipython-input-3625697838.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Blood Pressure'].fillna('120/80', inplace=True)
/tmp/ipython-input-3625697838.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cholesterol'].fillna(mean_cholesterol, inplace=True)
/tmp/ipython-input-3625697838.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna('no_email@example.com', inplace=True)
/tmp/ipython-input-3625697838.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Phone Number'].fillna('000-000-0000', inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             841 non-null    float64
 2   Gender          1000 non-null   object
 3   Condition       794 non-null    object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  834 non-null    object
 7   Cholesterol     769 non-null    float64
 8   Email           616 non-null    object
 9   Phone Number    821 non-null    object
dtypes: float64(2), object(8)
memory usage: 78.3+ KB

In [67]:
df[['Systolic', 'Diastolic']] = df['Blood Pressure'].str.split('/', expand=True)
df.head()

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number,Systolic,Diastolic
0,david lee,25.0,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.00000,name@hospital.org,555-555-5555,140,90
1,emily davis,40.0,Male,Diabetes,NONE,"April 5, 2018",120/80,200.00000,no_email@example.com,000-000-0000,120,80
2,laura martinez,35.0,Other,Asthma,METFORMIN,2019.12.01,110/70,160.00000,contact@domain.com,000-000-0000,110,70
3,michael wilson,40.0,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,189.23277,name@hospital.org,555-555-5555,110,70
4,david lee,40.0,Female,Asthma,NONE,2020/02/20,110/70,180.00000,no_email@example.com,,110,70

In [68]:
# Convert 'Systolic' and 'Diastolic' to numeric, coercing errors
df['Systolic'] = pd.to_numeric(df['Systolic'], errors='coerce')
df['Diastolic'] = pd.to_numeric(df['Diastolic'], errors='coerce')

# Display the first few rows of the DataFrame
display(df.head())

# Display the data types of the DataFrame columns
df.info()

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number,Systolic,Diastolic
0,david lee,25.0,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.00000,name@hospital.org,555-555-5555,140,90
1,emily davis,40.0,Male,Diabetes,NONE,"April 5, 2018",120/80,200.00000,no_email@example.com,000-000-0000,120,80
2,laura martinez,35.0,Other,Asthma,METFORMIN,2019.12.01,110/70,160.00000,contact@domain.com,000-000-0000,110,70
3,michael wilson,40.0,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,189.23277,name@hospital.org,555-555-5555,110,70
4,david lee,40.0,Female,Asthma,NONE,2020/02/20,110/70,180.00000,no_email@example.com,,110,70

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             1000 non-null   float64
 2   Gender          1000 non-null   object
 3   Condition       1000 non-null   object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  1000 non-null   object
 7   Cholesterol     1000 non-null   float64
 8   Email           1000 non-null   object
 9   Phone Number    1000 non-null   object
 10  Systolic        1000 non-null   int64
 11  Diastolic       1000 non-null   int64
dtypes: float64(2), int64(2), object(8)
memory usage: 93.9+ KB

In [71]:
# Check for null values in 'Systolic' and 'Diastolic'
print("Null values in 'Systolic' column:")
print(df['Systolic'].isnull().sum())

print("\nNull values in 'Diastolic' column:")
print(df['Diastolic'].isnull().sum())

Null values in 'Systolic' column:
0

Null values in 'Diastolic' column:
0

In [74]:
# Drop the original 'Blood Pressure' column
df.drop('Blood Pressure', axis=1, inplace=True)

# Display the first few rows to confirm the column is dropped
display(df.head())

KeyError: "['Blood Pressure'] not found in axis"

In [75]:
# Save the cleaned data to a new CSV file
df.to_csv('/content/drive/MyDrive/cleaned_healthcare_messy_data.csv', index=False)